.footer {
    width:100%;
    height:60px;
    line-height: 60px;
    background-color: #200098;
    position: absolute;
	  left: 0;
	  bottom: 0;
}

#form_enter{
  position: absolute;
  left: 520px;
  top: 140px;
}

#header{
    background-color: #200098;
}

#HacErrorBlock1 {
  display: none;
}


#btnPersAcc{
  position: absolute;
right: 80px;
}

#exit_btn{
  position: absolute;
right: 0;
}

#btnEnter{
  position: absolute;
right: 0;
}

#right_timer {
  list-style-type: none;
  width: 180px;
  height: 500px;
  margin: 0;
  padding: 0;
  background: #009DE5;
}

.drop_vert_menu {
       list-style-type: none;
       width: 200px;
       height: 500px;
       margin: 0;
       padding: 0;
       background: #009DE5;
    }

    .drop_vert_menu  a:hover{
      color: red;
      text-decoration:none;
    }

   .drop_vert_menu  ul {
       list-style-type: none;
       width: 180px;
       margin: 0;
       padding: 0;
   }
   .drop_vert_menu > li {
     position: relative;
     background: #009DE5
     padding:10px 0px 10px 16px;
   }

   .drop_vert_menu > li:hover {
   background: #009DE5;

   }
   .drop_vert_menu > li > a{
     font-size:18px;
     color: White;
     text-decoration:none;
   }


     .drop_vert_menu li ul {
       position: absolute;
       display: none;
       top: 2px;
       left: 195px;
      }

    .drop_vert_menu li:hover ul {
      display: block;

      }

   .drop_vert_menu li ul li{
     text-align:left;
     background: #009DE5;
     padding: 8px 0px 8px 10px;
   }

   .drop_vert_menu li ul li:hover {
     background: #200098;
   }

   .drop_vert_menu li ul li a{
     font-size:14px;
     color:White;
     text-decoration:none;
   }

   .drop_vert_menu li ul li a:hover{
     font-size: 14px;
     color: red;
     text-decoration:none;
   }

#div_under_lm{
background: #009DE5;
}

   html {
   	overflow-y: scroll;
   }
